

.head{
    padding:20px 0;
    color: #fff;
}

.logo h1{
    font-size: 35px;
    font-weight: 900;
}

.head .icon{
    margin-left: 10px;
}

header{
    background-color:rgba(255, 255, 255, 0.2) ;
    margin:0 30px ;
    position: relative;
}
header ul{
    padding: 30px 20px;
}

header li {
    margin-right: 40px;
}

header ul li a {
    color: #fff;
    font-weight: 500;
    transition: 0.5s;
}

header ul li a:hover {
    color: #000;
}

.start{
    background-color: antiquewhite;
    padding: 30px 70px;
    color: #fff;
   
}

@media screen  and (max-width: 768px){
    .start {
        clip-path:none;
    }
    header {
        margin:0;
    
        position:relative;
    }
    header ul .flexSB {
        display: none;

    }

}









